@page
@model ezAspBlog.Pages.NewPostModel
@{
    ViewData["Title"] = "New Post";
}

<form method="post">
    <div class="form-group">
        <label for="title">Post title</label>
        <input asp-for="Post.Title" type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="author">Author name</label>
        <input asp-for="Post.Author" type="text" class="form-control" id="author" placeholder="Author name">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea asp-for="Post.Content" class="form-control" id="content" placeholder="Type in some stuffs..." rows="3"></textarea>
    </div>
    <button asp-page-handler="NewPost" type="submit" class="btn btn-primary">Submit</button>
</form>

